[defaults]
ansible_nocows=True
deprecation_warnings=False
retry_files_enabled=False

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml

[galaxy]
server_list = rh_certified_repo, release_galaxy

[galaxy_server.rh_certified_repo]
url=https://console.redhat.com/api/automation-hub/content/published/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token

[galaxy_server.release_galaxy]
url=https://galaxy.ansible.com/